.DS_Store
.sfdx
.sf
deploy
sfdx
jest.config.js
.vscode
mdapi
README.md
data/Product2.json
data/PricebookEntry.json
sm/main/default/authproviders/Salesforce.authprovider-meta.xml
sm/main/default/namedCredentials/Salesforce1.namedCredential-meta.xml
sm/main/default/classes/AvalaraAdapter.cls
sm/main/default/classes/AvalaraAdapter.cls-meta.xml
sm/main/default/classes/AvalaraJSONBuilder.cls
sm/main/default/classes/AvalaraJSONBuilder.cls-meta.xml
sm/main/default/classes/CalculateTaxService.cls
sm/main/default/classes/CalculateTaxService.cls-meta.xml
TEMP
TEMP_METADATA/AvalaraAdapter.cls
TEMP_METADATA/AvalaraAdapter.cls-meta.xml
TEMP_METADATA/AvalaraJSONBuilder.cls
TEMP_METADATA/AvalaraJSONBuilder.cls-meta.xml
TEMP_METADATA/CalculateTaxService.cls
TEMP_METADATA/CalculateTaxService.cls-meta.xml
TEMP_METADATA/HttpService.cls
TEMP_METADATA/HttpService.cls-meta.xml
TEMP_METADATA/JsonErrorParser.cls
TEMP_METADATA/JsonErrorParser.cls-meta.xml
TEMP_METADATA/JsonSuccessParser.cls
TEMP_METADATA/JsonSuccessParser.cls-meta.xml
TEMP_METADATA/QueryUtils.cls
TEMP_METADATA/QueryUtils.cls-meta.xml
TEMP_METADATA/Salesforce1.namedCredential-meta.xml
TEMP_METADATA/authproviders/Salesforce.authprovider-meta.xml
TEMP_METADATA/ActivateOrders.permissionset-meta.xml
TEMP_METADATA/Billing_Invoicing_API.permissionset-meta.xml
TEMP_METADATA/BSGCancellationAPI.permissionset-meta.xml
TEMP_METADATA/BuyNow_Admin.permissionset-meta.xml
TEMP_METADATA/BuyNow_User.permissionset-meta.xml
TEMP_METADATA/CalculatePrice_API.permissionset-meta.xml
TEMP_METADATA/CALM.permissionset-meta.xml
TEMP_METADATA/CreateCancellationOrder.permissionset-meta.xml
TEMP_METADATA/CreateInvoice.permissionset-meta.xml
TEMP_METADATA/CreateQuote.permissionset-meta.xml
TEMP_METADATA/CreditMemoApiUser.permissionset-meta.xml
TEMP_METADATA/CreditMemoApiUserRecordAccess.permissionset-meta.xml
TEMP_METADATA/OrderItemToInvoiceIA.permissionset-meta.xml
TEMP_METADATA/OrderToAssetIA.permissionset-meta.xml
TEMP_METADATA/PaymentsPlatformApiUser.permissionset-meta.xml
TEMP_METADATA/PaymentsPlatformRecordAccess.permissionset-meta.xml
TEMP_METADATA/PaymentsPlatformSetup.permissionset-meta.xml
TEMP_METADATA/PearCancel.permissionset-meta.xml
TEMP_METADATA/PearRenew.permissionset-meta.xml
TEMP_METADATA/PlaceOrder.permissionset-meta.xml
TEMP_METADATA/ProductAndPriceConfig.permissionset-meta.xml
TEMP_METADATA/QuoteToOrder_Admin.permissionset-meta.xml
TEMP_METADATA/QuoteToOrder_User.permissionset-meta.xml
TEMP_METADATA/Revenue_Cloud_Pilot.permissionset-meta.xml
TEMP_METADATA/SBP_AR_Ops_User.permissionset-meta.xml
TEMP_METADATA/SBP_User.permissionset-meta.xml
TEMP_METADATA/TaxApp_API_Admin.permissionset-meta.xml
TEMP_METADATA/TaxApp_API_User.permissionset-meta.xml
TEMP_METADATA/BillingPeriodItem-Billing Period Item Layout.layout-meta.xml
TEMP_METADATA/BillingSchedule-Billing Schedule Layout.layout-meta.xml
TEMP_METADATA/CreditMemoLine-Credit Memo Line Layout.layout-meta.xml
TEMP_METADATA/Invoice-Invoice Layout.layout-meta.xml
TEMP_METADATA/LegalEntity-Legal Entity Layout.layout-meta.xml
TEMP_METADATA/OrderAction-Order Action Layout.layout-meta.xml
TEMP_METADATA/SalesforceNativeAdapter.paymentGatewayProvider-meta.xml
